<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427634185046-hbvcpmrc1fpsakje08nj03mc4ncp14ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427634185046-hbvcpmrc1fpsakje08nj03mc4ncp14ai</string>
	<key>API_KEY</key>
	<string>AIzaSyBP1hhaiGJjhGxxLk93HIT5yMS9iHlJd8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>427634185046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitirme21</string>
	<key>PROJECT_ID</key>
	<string>bitirme21-6e53a</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirme21-6e53a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427634185046:ios:a7bd252a713ee9f877bcf7</string>
</dict>
</plist>